@charset "utf-8";


*{
	margin:0;
	padding:0;
	font-size:100%; font-family:microsoft yahei !important;
}
body {
 	color: #333;
	background:#fff;
	margin:0;
	padding:0;
	text-align:center;
	
}
a{text-decoration:none;}
img { 
	border:0 none;
}
ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

.clear{
	clear:both;
}
.sb{
	float:left;
	display:inline;
}
article{width:100%;}
.box {
	margin: 0 auto;
	padding:0;
	text-align: center;
	width:100%;
	background:#f5f5f7;
	position:absolute;
	top:0;
	left:0;
}
.headbg{background:#60b2ff;}
.head{background:#60b2ff;padding:7%; color:#FFFFFF; text-align:left; font-size:2.05em; line-height:2em; margin:auto; max-width:640px;}
.head img{margin-bottom:10px; max-width:551px;}
.last_text{margin-top:10px; font-size:0.95em;}
.last_t_img{float:left;width:8%;}
.last_t_img img{width:90%; margin-top:3px;}
.heads{
background:url("http://auth.test.lianlianbox.com/images/top_bg.jpg") repeat-x center;
	background-size:640px 93px;
	-webkit-background-size:640px 93px;
	color:#fff;
	font-size:1.5em;
	text-align:center;
	line-height:45px;
}
.text_box_title{background:#dff0ff; color:#60b2ff; font-size:1.8em; padding:4% 3%;}
.text_box{background:#60b2ff;}
.box1{background:a7e78b; padding:7%;}
.box1 img{max-width:500px;}
.mb10{
	margin-bottom:10px;
}
.jiantt{
	background:#fff;
	border-bottom:1px solid #f5f5f5;
	padding:12px 0;
	text-align:center;
	color:#8d9cbb;
	font-weight:normal;
	font-size:1.1em;
}

.wfcont{
	padding:0px 10px;
	background:#fff;
	color:#8d9cbb;
	border-bottom:1px solid #f5f5f5;
}
.post{
	position:relative;
	height:20px;

}
.post_01{
	position:relative;
	height:20px;
	background:#60b2ff;
	padding:7px 0;
}
.wfcont a.wdblue{
	color:#8d9cbb;
	font-size:0.8em;
}
.names{
	padding:15px 0 15px 5px;
	font-size:1.1em;
	text-align:left;
}
.wfcont ul li{
	float:left;
	display:inline;
	padding:0 10px 0px 0;
}
.moviep{
	padding:10px 0;
}
.flex-control-nav{
	position:absolute;
	left:45%;
	bottom:0px;
}
.flex-control-nav li { 
	display: inline-block; 
	margin: 0 1px; 
	*display: inline;
	float:left;
	zoom: 1;
}
.flex-control-nav a{ 
	display: inline-block; 
	width: 5px; 
	height: 5px;
	overflow: hidden;
	cursor: pointer;
	background:#656565;
	background:-webkit-gradient(linear,0 0,0 bottom,from(#656565),to(#656565));
	background:-moz-linear-gradient(#656565,#656565);
	-pie-background:linear-gradient(#656565,#656565);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url("http://auth.test.lianlianbox.com/css/pie.htc");
	zoom:1;
	margin-bottom:10px;
}
.flex-control-nav .flex-active { 
	background:#ff7a20;
	background:-webkit-gradient(linear,0 0,0 bottom,from(#ff7a20),to(#da6f13));
	background:-moz-linear-gradient(#ff7a20,#da6f13);
	-pie-background:linear-gradient(#ff7a20,#da6f13);
	behavior: url("http://auth.test.lianlianbox.com/css/pie.htc");
	zoom:1;
}

.flex-control-nav_01{
	position:absolute;
	left:45%;
	bottom:0px;
}
.flex-control-nav_01 li { 
	display: inline-block; 
	margin: 0 1px; 
	*display: inline;
	float:left;
	zoom: 1;
}
.flex-control-nav_01 a{ 
	display: inline-block !important; 
	width: 5px !important; 
	height: 5px !important;
	overflow: hidden;
	cursor: pointer;
	background:#90c9ff;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	behavior: url("http://auth.test.lianlianbox.com/css/pie.htc") !important;
	zoom:1;
	padding:0 !important;
	margin-bottom:10px;
}
.flex-control-nav_01 .flex-active_01 { 
	background:#fff;
	behavior: url("http://auth.test.lianlianbox.com/css/pie.htc") !important;
	zoom:1;
}


.pie_radius{
	display:inline-block;
	border: none 0;
	padding:12px 10px 12px 35px;
	text-align: center;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background:#98dd60 url("http://auth.test.lianlianbox.com/images/andr_bg.png") no-repeat 10px 12px;
	-webkit-background-size: 14px auto;
	background-size: 14px auto;
	margin:15px 10px 10px 0;
	color:#fff;
}
.pie_radius2{
	display:inline-block;
	border: none 0;
	padding:13px 11px 13px 36px;
	text-align: center;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background:#5790e5 url("http://auth.test.lianlianbox.com/images/iphone_bg.png") no-repeat 10px 12px;
	-webkit-background-size: 13px auto;
	background-size: 13px auto;
	margin:0px 10px 20px 0;
	color:#fff;
}

.wfcont2{
	border:none 0;
}
.mb160{
	margin-bottom:160px;
}
.head{
	position:relative;
}
.pie_radius3{
	margin:15px 10px 10px 0;
	display:inline-block;
}
.pie_radius4{
	margin:0px 10px 20px 0;
	display:inline-block;
}
.mb80{
	margin-bottom:80px;
}
.wfplace{
background:url("http://auth.test.lianlianbox.com/images/1408070445268000157.jpg") no-repeat center top;
	background-size:1024px auto;
	-webkit-background-size:1024px auto;
	height:290px;
	
}

.wfplace a{
	width:33%;
	display:inline-block;
	color:#fff;
	text-align:center;
	padding:10px 0 0 0;
	height:104px;
	line-height:114px;
	font-size:34px;
}
.swiper1, .swiper1 .swiper-slide{
	width: 1024px;
	height: 250px;
}
.swiper-container, .swiper-slide {
	width: 1024px;
	height: 250px;
}

.cut{
	background:#60b2ff;
	padding:7px 0;
	text-align:center;
}
.hui{ 
	display: inline-block; 
	width: 5px; 
	height: 5px;
	overflow: hidden;
	cursor: pointer;
	background:#90c9ff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-right:5px;
	behavior: url("http://auth.test.lianlianbox.com/css/pie.htc");
	zoom:1;
	position:relative;
}
.light { 
	background:#fff;
	display: inline-block; 
	width: 5px; 
	height: 5px;
	overflow: hidden;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-right:5px;
	behavior: url("http://auth.test.lianlianbox.com/css/pie.htc");
	zoom:1;
	position:relative;
}
.tupian1{
width:320px;height:135px;
}
.tupian2{width:320px; height:179; margin:auto; }
.boxMod{width:320px;height:160px;overflow:hidden}
.mod {width:1600px;overflow:hidden;height:315px;}
.mod ul{width:320px;height:315px;overflow:hidden;float:left;}

.boxMod_01{width:320px;height:75px;overflow:hidden}
.mod_01 {width:1600px;overflow:hidden;height:75px;}
.mod_01 ul{width:320px;height:75px;overflow:hidden;float:left;}

.down_appadriod{ position:absolute; top:380px; left:15px; height:450px;}
.tupian3{
 width:320px; height:98px; margin:auto
}
.tupian4_1{
 width:320px; height:260px; margin:auto; 
}
.tupian4{width:320px; height:260px; margin:auto }
.edtoput{
	border:0 none;
	background:none;
	height:45px;
	line-height:93px;
	font-size:1.2em;
	color:#fff;
	text-align:center;
	height:93px;
}
#bottomToolbar{
    background:#f8f8fa;
	width:100%;
    position:fixed; bottom:0; left:0;
    _position:absolute; _top:expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight);
    
}




.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	
	z-index:1;
}


.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
	
}
.swiper-slide {
	float: left;
}
.pagination1 {
	text-align: center;
	padding-top:15px;
	
}
.pagination{height:34px; background:#60b2ff;}
.pagination1 .swiper-pagination-switch {
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 10px;
	background: #90c9ff;
	margin: 0 1px;
	cursor: pointer;
}
.pagination1 .swiper-active-switch {
	background: #fff;2f9933}

@media screen and (max-width:768px){
.head{background:#60b2ff;padding:7%; color:#FFFFFF; text-align:left; font-size:2.05em; line-height:2em;}
.head img{margin-bottom:10px; max-width:551px;}
.last_text{margin-top:10px; font-size:0.95em;}
.last_t_img{float:left;width:8%;}
.last_t_img img{width:90%; margin-top:13px;}
.text_box_title{background:#dff0ff; color:#60b2ff; font-size:1.6em; padding:4% 3%;}
.wfplace{
background:url("http://auth.test.lianlianbox.com/images/1408070445268000157.jpg") no-repeat center top;
	background-size:768px auto;
	-webkit-background-size:768px auto;
	height:230px;
	
}

.wfplace a{
	width:33%;
	display:inline-block;
	color:#fff;
	text-align:center;
	padding:10px 0 0 0;
	height:74px;
	line-height:84px;
	font-size:24px;
}
.swiper1, .swiper1 .swiper-slide{
	width: 768px;
	height: 190px;
}
}

@media screen and (max-width:640px){
.head{background:#60b2ff;padding:7%; color:#FFFFFF; text-align:left; font-size:2.05em; line-height:2em;}
.head img{margin-bottom:10px; max-width:551px;}
.last_text{margin-top:10px; font-size:0.65em;}
.last_t_img{float:left;width:8%;}
.last_t_img img{width:90%; margin-top:13px;}
.text_box_title{background:#dff0ff; color:#60b2ff; font-size:1.6em; padding:4% 3%;}

.wfplace{
background:url("http://auth.test.lianlianbox.com/images/1408070445268000157.jpg") no-repeat center top;
	background-size:640px auto;
	-webkit-background-size:640px auto;
	height:200px;
	
}

.wfplace a{
	width:33%;
	display:inline-block;
	color:#fff;
	text-align:center;
	padding:10px 0 0 0;
	height:64px;
	line-height:64px;
	font-size:20px;
}
.swiper1, .swiper1 .swiper-slide{
	width: 640px;
	height: 160px;
}
}

@media screen and (max-width:480px){
.head{background:#60b2ff;padding:7%; color:#FFFFFF; text-align:left; font-size:1.65em; line-height:2em;}
.head img{margin-bottom:10px; max-width:551px;}
.last_text{margin-top:10px; font-size:0.65em;}
.last_t_img{float:left;width:8%;}
.last_t_img img{width:90%; margin-top:13px;}
.text_box_title{background:#dff0ff; color:#60b2ff; font-size:1.1em; padding:4% 3%;}

.wfplace{
background:url("http://auth.test.lianlianbox.com/images/1408070445268000157.jpg") no-repeat center top;
	background-size:480px auto;
	-webkit-background-size:480px auto;
	height:159px;
	
}

.wfplace a{
	width:33%;
	display:inline-block;
	color:#fff;
	text-align:center;
	padding:10px 0 0 0;
	height:44px;
	line-height:44px;
	font-size:16px;
}
.swiper1, .swiper1 .swiper-slide{
	width: 480px;
	height: 120px;
}
}
@media screen and (max-width:370px){
.head{background:#60b2ff;padding:7%; color:#FFFFFF; text-align:left; font-size:0.95em; line-height:2em;}
.head img{margin-bottom:10px; max-width:551px;}
.last_text{margin-top:10px; font-size:0.9em;}
.last_t_img{float:left;width:8%;}
.last_t_img img{width:80%; margin-top:8px;}
.text_box_title{background:#dff0ff; color:#60b2ff; font-size:0.8em; padding:4% 3%;}
.wfplace{
background:url("http://auth.test.lianlianbox.com/images/1408070445268000157.jpg") no-repeat center top;
	background-size:370px auto;
	-webkit-background-size:370px auto;
	height:129px;
	
}

.wfplace a{
	width:33%;
	display:inline-block;
	color:#fff;
	text-align:center;
	padding:10px 0 0 0;
	height:30px;
	line-height:30px;
	font-size:12px;
}
.swiper1, .swiper1 .swiper-slide{
	width: 370px;
	height:90px;
}
}
@media screen and (max-width:320px){
.head{background:#60b2ff;padding:7%; color:#FFFFFF; text-align:left; font-size:0.95em; line-height:2em;}
.head img{margin-bottom:10px; max-width:551px;}
.last_text{margin-top:10px; font-size:0.9em;}
.last_t_img{float:left;width:8%;}
.last_t_img img{width:80%; margin-top:8px;}
.text_box_title{background:#dff0ff; color:#60b2ff; font-size:0.8em; padding:4% 3%;}
.wfplace{
background:url("http://auth.test.lianlianbox.com/images/1408070445268000157.jpg") no-repeat center top;
	background-size:320px auto;
	-webkit-background-size:320px auto;
	height:109px;
	
}

.wfplace a{
	width:33%;
	display:inline-block;
	color:#fff;
	text-align:center;
	padding:10px 0 0 0;
	height:24px;
	line-height:24px;
	font-size:12px;
}
.swiper1, .swiper1 .swiper-slide{
	width: 320px;
	height:75px;
}
}